@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #fff;
  background-color: #0c0a09;
}

@layer utilities {
  .min-h-scr {
    min-height: 100vh;
    min-height: 100svh;
  }
}

@layer utilities {
  .link {
    position: relative;
  }
  .link::after {
    height: 1px;
    position: absolute;
    left: 0;
    top: 1.75rem;
    width: 0;
    background-color: #fff;
    content: '';
    transition-property: width;
    transition-duration: 300ms;
    transition-delay: 0ms;
    transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }
  .link:hover::after {
    content: '';
    width: 100%;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer utilities {
  .ease-head {
    transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
}
