@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --950: rgb(12, 10, 9);
  --900: rgb(28, 25, 23);

  --600: rgb(87, 83, 78);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  overscroll-behavior: none;
  scroll-behavior: smooth;
  scrollbar-gutter: overlay;
}

body {
  color: #fff;
  background-color: var(--950);
  overscroll-behavior: none;
  font-weight: 500;
  border: none;
  width: 100%;
}
/* Hide scrollbar for Chrome, Safari and Opera */
/* html::-webkit-scrollbar {
  display: block;
} */

/* Hide scrollbar for IE, Edge and Firefox */
/* html {
  -ms-overflow-style: none; /* IE and Edge */
/* scrollbar-width: none; Firefox */
/* }  */

html[data-scroll='y'] {
  overflow: auto;
}

html[data-scroll='n'] {
  overflow: hidden;
}

html[data-scroll='n'] > body {
  overflow: hidden;
}
html[data-scroll='y'] > body {
  position: relative;
  overflow: auto;
}

main {
  background-color: var(--950);
  min-height: 100vh;
  min-height: 100svh;
}

footer {
  background-color: var(--900);
  padding: 1rem;
}

@layer utilities {
  .min-h-scr {
    min-height: 100vh;
    min-height: 100svh;
  }
  .h-scr {
    min-height: 100vh;
    min-height: 100svh;
  }
  .max-h-scr {
    max-height: 100vh;
    max-height: 100svh;
  }
}

@layer utilities {
  .link {
    position: relative;
  }
  .link::after {
    height: 1px;
    position: absolute;
    left: 0;
    top: 1.7rem;
    width: 100%;
    background-color: #fff;
    content: '';
    transition-property: transform;
    transition-duration: 300ms;
    transform-origin: right;
    transform: scaleX(0);
    transition-delay: 0ms;
    transition-timing-function: ease;
  }
  .link:hover::after {
    content: '';
    transform: scale(1);
    transform-origin: left;
    transition: transform 300ms ease;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer utilities {
  .ease-in-head {
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  }
  .ease-io-head {
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }
  .ease-head-overlay {
    transition-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }
  .ease-toggle {
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  .ease-up {
    transition: transform 350ms cubic-bezier(0.55, 0.055, 0.675, 0.19),
      opacity 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
    transition-delay: 75ms;
  }
}

@layer utilities {
  .skip-nav {
    padding: 0.5rem;
    pointer-events: auto;
    color: #000;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: -5rem;
    overflow: hidden;
    border-bottom-right-radius: 1.25rem;
    transition-property: top;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    z-index: 150;
  }
  .skip-nav:focus {
    top: 0;
    transition-property: top;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
  }
}
